.table-music {
    background-color: rgba(255, 255, 255, 0.3);
    margin-left: 35px;
    margin-bottom: 30px;
    border-radius: 10px;
}
.music-title {
    display: inline-block;
    color: black;
    margin: 20px 0px 25px 80px;
    font-size: 20px;
    font-weight: 700;

}
.table-music__list {
    margin-left: 20px;
    padding: 0 40px;
    padding-bottom: 10px;
}
.music-list__item {
    display: flex;
    margin-bottom: 20px;
    margin-right: 320px;
}
.music-list__img {
    width: 290px;
    height: 150px;
    border-radius: 2px;
}
.music-list__sub {
    margin: 0 10px;
    padding-top: 15px;
    color: #dbdada;
}
.music-list__des {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.music-list__name {
    color: black;
    font-weight: 600;
    font-size: 20px;
}
.music-list__singer {
    color: darkslategray;
    font-size: 14px;
}
.music-list__singer2 {
    color: darkslategray;
    margin-top: 10px;
    font-size: 14px;
}
@media (min-width: 768px) and (max-width: 1024px) {
.table-music{    
    margin-left: 10px;
    margin-right: 10px;
}
.music-title{
    margin: 20px 0px 25px 60px;
}
.table-music__list {
    margin-left: 20px;
    padding: 0;
}
.music-list__item {
    margin-right: 0;
}
.music-list__sub {
    margin: 0 7px;
}
.table-music__list {
    padding-bottom: 10px;
}
}
@media only screen and (min-width: 740px) and (max-width:1023px) {
.music-list__name {
    font-size: 18px;
}

.table-music__list {
    margin-left: 0;
}
.music-list__img {
    height: 130px;
}
.music-list__singer {
    font-size: 13px;
}
.music-list__des {
    margin-left: 15px;
}
.music-list__singer2 {
    font-size: 10px;
}
.table-music__list {
    padding-bottom: 10px;
}
}
@media only screen and (max-width: 740px) {
.music-list__item {
    margin-right: 0;
    display: block;
    }  
.table-music__list {
    padding-right: 0;
    padding-left: 10px;
    margin-left: 0px;
}
.table-music {
    margin-left: 10px;
    margin-right: 10px;
}
.music-list__img {
    width: 89%;
    height: 205px;
}
.music-list__des {
    margin-top: 5px;
}
.music-list__name {
    font-size: 13px;
}
.music-list__singer {
    font-size: 12px;
}
.music-list__singer2 {
    font-size: 11px;
    margin-right: 2px;
}
}
@media (min-width: 1025px) and (max-width: 1280px) {
    .table-music{    
        margin-left: 10px;
        margin-right: 10px;
    }
    .music-title{
        margin: 20px 0px 25px 60px;
    }
    .table-music__list {
        margin-left: 10px;
        padding: 0;
    }
    .music-list__item {
        margin-right: 0;
    }
    .music-list__sub {
        margin: 0 7px;
    }
    .table-music__list {
        padding-bottom: 10px;
    }
    .music-list__des {
        margin-left: 15px;
    }
    .music-list__singer2 {
        font-size: 15px;
    }
}